{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}" />
<div>Welcome to News Pages </div>

<section class="section-01 float-left w-100 py-5">
    <div class="container-fluid">
        <div class="row px-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading-large">Latest News</h3>
                    </div>
                    {% if articles %}
                        {% for article in articles %}
                            
                             <div class="col-md-3">
                                <div class="card mb-3">
                                    <img  style="height: 199px;" class="img-fluid" href ={{article.urlToImage}} src=" {% if article.urlToImage %} {{article.urlToImage}} {% endif %}" alt="{{article.heading}}">
                                    <div class="card-body">
                                        <div class="news-title">
                                            <h2 class=" title-small"><a href=>{{article.title}}</a></h2>
                                        </div>
                                        <p class="card-text">{{article.description|safe|truncatechars:100}}</p>
                                        <p class="card-text"><small class="text-time"><em>{{article.publishedAt|timesince}} ..ago </em></small></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <ul class="pagination">
            {% if articles.has_previous %}
            <li>
                <a href="?page={{ articles.previous_page_number }}">previous</a>
            </li>
            {% endif %}
            <li>
            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>
            </li>
            {% if articles.has_next %}
            <li>
                <a href="?page={{ articles.next_page_number }}">next</a>
            </li>
            {% endif %}
        </ul>
    </div>
</section>


